<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add</ion-title>
    </ion-toolbar>
  </ion-header>
	<br/>
	<br/>
    <div style="padding:20px">
		<table class="width100">
			<thead class="width100">
				<tr class="width100">
					<th class="widthtd">Full Name</th>
					<th class="widthtd">Email</th>
					<th class="widthtd">Mobile</th>
				</tr>
			</thead>
			<tbody class="width100">
				<tr class="width100"  *ngFor="let item of demo_store">
					<td class="widthtd">{{item.fullname}}</td>
					<td class="widthtd">{{item.emailaddress}}</td>
					<td class="widthtd">{{item.mobilenum}}</td>
				</tr>
			</tbody>
		</table>
    </div>
  
</ion-content>
