<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add</ion-title>
    </ion-toolbar>
  </ion-header>
	<br/>
	<br/>
    <div style="padding:20px">
		<div class="input_div">
			<ion-label position="fixed">Full name</ion-label>
			<ion-input placeholder="Full name" [(ngModel)]="fullname"></ion-input>
			<ion-label  *ngIf="errorfullname" class="error  full_name_error">Full name is required</ion-label>
		</div>
		<div class="input_div">
			<ion-label position="fixed">Email</ion-label>
			<ion-input placeholder="Email address" [(ngModel)]="emailaddress"></ion-input>
			<ion-label  *ngIf="erroremailaddress" class="error  full_name_error">Email is required</ion-label>
			<ion-label  *ngIf="erroremailaddressvalide" class="error  full_name_error">Email not valid</ion-label>
		</div>
		<div class="input_div">
			<ion-label position="fixed">Full name</ion-label>
			<ion-input type="number" placeholder="Mobile number" [(ngModel)]="mobilenum"></ion-input>
			<ion-label  *ngIf="errormobilenum" class="error  full_name_error">Mobile is required</ion-label>
		</div>
		<div>
			<ion-button color="primary"  (click)="submit_button()">Submit</ion-button>
		</div>
    </div>
  
</ion-content>
